{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{{ url_for('enquire_loan_details') }}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enquire Member Loan Details</legend>

                <div class="form-group">
                    {{ form.cmemberid.label(class="form-control-label") }}
                    {% if form.cmemberid.errors %}
                        {{ form.cmemberid(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.cmemberid.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cmemberid(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.cname.label(class="form-control-label") }}
                    {% if form.cname.errors %}
                        {{ form.cname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.cname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.cname(class="form-control form-control-lg", readonly=True) }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form.lonact.label(class="form-control-label") }}
                    {% if form.lonact.errors %}
                        {{ form.lonact(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lonact.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lonact(class="form-control form-control-lg", readonly=True) }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.lonamt.label(class="form-control-label") }}
                    {% if form.lonamt.errors %}
                        {{ form.lonamt(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lonamt.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lonamt(class="form-control form-control-lg", readonly=True) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.depact.label(class="form-control-label") }}
                    {% if form.depact.errors %}
                        {{ form.depact(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.depact.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.depact(class="form-control form-control-lg", readonly=True) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.depamt.label(class="form-control-label") }}
                    {% if form.depamt.errors %}
                        {{ form.depamt(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.depamt.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.depamt(class="form-control form-control-lg", readonly=True) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.intact.label(class="form-control-label") }}
                    {% if form.intact.errors %}
                        {{ form.intact(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.intact.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.intact(class="form-control form-control-lg", readonly=True) }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.intamt.label(class="form-control-label") }}
                    {% if form.intamt.errors %}
                        {{ form.intamt(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.intamt.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.intamt(class="form-control form-control-lg", readonly=True) }}
                    {% endif %}
                </div>


                    <div class="form-group">
				        <a href="{{ url_for('home') }}" class="btn btn-outline-success" style="width: 300px;">Return Home</a>
    </div>
            </fieldset>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script> <!-- Updated jQuery -->
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script> <!-- Updated Popper.js -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> <!-- Updated Bootstrap JS -->

<script>
    // When the cmemberid field loses focus (via tab or enter), trigger the AJAX request
    $('#{{ form.cmemberid.id }}').on('blur', function() {
        var cmemberid = $(this).val();

        // Make sure the cmemberid is not empty
        if (cmemberid) {
            $.ajax({
                url: '/get_loan_details',  //
                method: 'POST',
                data: { cmemberid: cmemberid },  // Send cmemberid as form data
                success: function(response) {

                    // Populate the cname field
                    $('#{{ form.cname.id }}').val(response.cname);

                    // Populate the lonact field
                    $('#{{ form.lonact.id }}').val(response.lonact);

                    // Populate the lonamt field
                    $('#{{ form.lonamt.id }}').val(response.lonamt);

                    // Populate the depact field
                    $('#{{ form.depact.id }}').val(response.depact);

                    // Populate the depamt field
                    $('#{{ form.depamt.id }}').val(response.depamt);

                    // Populate the intact field
                    $('#{{ form.intact.id }}').val(response.intact);

                    // Populate the intamt field
                    $('#{{ form.intamt.id }}').val(response.intamt);

                },
                error: function() {
                    alert('Error retrieving Customer details');
                }
            });
        }
    });
</script>

{% endblock content %}
